<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>식 기본 객체 (Expression Basic Objects)</h1>
<ul>
  <li>request = <span th:text="${#request}"></span></li>      <!-- 요청 객체 -->
  <li>response = <span th:text="${#response}"></span></li>    <!-- 응답 객체 -->
  <li>session = <span th:text="${#session}"></span></li>      <!-- 세션 객체 -->
  <li>servletContext = <span th:text="${#servletContext}"></span></li>    <!-- 서블릿 객체 -->
  <li>locale = <span th:text="${#locale}"></span></li>        <!-- 로컬 객체 -->
</ul>

<h1>편의 객체</h1>
<ul>
  <li>Request Parameter = <span th:text="${param.paramData}"></span></li>     <!-- 요청 파라미터 변수 -->
  <li>session = <span th:text="${session.sessionData}"></span></li>           <!-- 요청 객체 -->
  <li>spring bean = <span th:text="${@helloBean.hello('Spring!')}"></span></li>   <!-- 스프링 빈 컴포넌트 객체 -->
</ul>

</body>
</html>